<div class="secondary-page col-md-8 col-md-offset-1">
    <h1>Contact Us</h1>
    <div class="row">
        <div class="col-md-7 col-md-offset-1">
            <div class="quote" style="padding-top:0px;">
                I try to treat whoever I meet as an old friend. this gives me a genuine feeling of happiness. it is the practice of compassion.
            </div>
            <div class="quote-attribute" style="padding-bottom:30px;">
                - His Holiness the 14th Dalai Lama, <a href="http://dalailama.com/messages/compassion">Compassion and the World</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <p>
                Thank you for visiting our contact page. 
            </p>
            <h2 class="secondary-h2">Mailing List</h2>
            <p>If you would like to be placed on our mailing list, you can sign up here.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <form method="post" action="http://oi.vresp.com?fid=436ac8b93f" target="vr_optin_popup" onsubmit="window.open( 'http://www.verticalresponse.com', 'vr_optin_popup', 'scrollbars=yes,width=600,height=450' ); return true;">
                <div style="border: 1px solid #E3E3E6;background: #F2F2F2;padding:10px;margin-top:5px;">
                    <div style="font-variant:small-caps;font-size:18px;font-weight:700">His Holiness the 14th Dalai Lama, Visit to Philadelphia<br />Oct. 26 & 27, 2015</div>
                    <div style="margin-top:20px;">
                        <label>Email Address:</label><span style="color: #f00">*</span>
                        <br />
                        <input name="email_address" size="15" style="margin-top: 5px; margin-bottom: 5px; border: 1px solid #999; padding: 3px; min-width:250px;" />
                    </div>
                    <div style="margin-top:20px">
                        <div id="captchaPreview" class="field">

                            <img id="vrCaptchaImage" src="https://img.verticalresponse.com/blank.gif" height="35" width="125" />

                            <div style="margin-top:15px;">
                                <label id="captcha_text">Please enter the letters shown above:</label><span style="color: #f00">*</span>
                            </div>
                            <div style="margin-bottom:15px;"><input size="10" name="captcha_guess" /></div>
                            <input type=hidden id="vrCaptchaHash" name="captcha_hash" value="">
                        </div>
                        <script>
                            hex_chars = Array('0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f');
                            hash = ''; hash_length = 20;
                            for (h = 0; h < hash_length; h++) { hash = hash + hex_chars[Math.floor(16 * Math.random())]; } document.getElementById('vrCaptchaHash').value = hash; captcha_image_url = 'https://captcha.vresp.com/produce/' + hash; document.getElementById('vrCaptchaImage').src = captcha_image_url;
                        </script>

                        <input type="submit" value="Okay, send it!" style="margin-top: 5px; border: 1px solid #999; padding: 3px;" /><br />
                    </div>
                    <div style="text-align:right;padding-right:40px;">
                        <span style="color: #f00;">* </span>required
                    </div>
                    <div>
                        <span>Email & Social Media Marketing by <a title="Email & Social Media Marketing by VerticalResponse" href="http://www.verticalresponse.com" rel="nofollow">VerticalResponse</a></span>
                     </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10" style="padding-top:20px;">
            <h2 class="secondary-h2">By Email </h2>
            <p>
                If you have a question about anything you’ve read here on our website, you can email us at  info.
                <a href="dalailamaphiladelphia2015@gmail.com">info.dalailamaphiladelphia2015@gmail.com</a>
                <p>
                    We’ll do our best to respond to your emails within two days.  We are volunteers and anticipate a possibly high volume of visits to our website, so we truly appreciate your patience.  Thanks so much. 
                </p>
            </p>
            <p>
                We’ll respond to your email requests as promptly as possible.  We appreciate your patience.
            </p>
        </div>
    </div>
</div>