<div class="row">
    <div class="col-md-8 col-md-offset-1 secondary-page">
        <h1>Day of Kindness</h1>
        <img src="/images/inside-kindness.jpg" class="img-responsive img-dropshadow img-inside" />
        <p>
            Inspired by His Holiness the Dalai Lama’s lifelong commitment to living and teaching compassion and kindness, October 27th is being proclaimed as A Day of Kindness in Philadelphia.
        </p>
        <p>
            To make this proclamation meaningful, we are creating programs and activities to encourage each of us to set a stronger intention around kindness, and maybe even perform acts of kindness a little beyond our norm.  It is our belief if enough people in the City give a little more, all of us will experience a lot more kindness, which in turn will only encourage us to keep giving.
        </p>
        <p>
            In addition to the acts of kindness, we will celebrate the City of Brotherly Love by having an installation of  Love and Kindness in the Wind - a string of thousands of small and colorful  flags carrying a message of Hope, Peace, Love or Kindness that resonates within each of us.  Each flag will be created by individuals like you, who together sing the song of the human spirit at its best.
        </p>
        <p>
            We’ll have a lot more information in the days and weeks ahead.
        </p>
    </div>
</div>