<div class="col-md-8 col-sm-offset-1  secondary-page">
    <h1>Cherishing Others.  Eight Verses for Training the Mind</h1>

    <div class="row">
        <div class="col-md-7">
            <img src="/images/inside-lasalle-lg.jpg" class="img-dropshadow img-inside img-responsive " style="width:50%;margin-bottom:15px;" />

            <p>There are numerous ancient teachings for cultivating kindness, compassion, and wisdom. Geshe Langri Tangpa, the great Buddhist master of the 11th century of Tibet (1054 -1123), taught many teachings on loving, kindness, and compassion, one of which is The Eight Verses for Training the Mind. Each verse is a jewel from which we can learn from and to incorporate into our daily lives to overcome our own difficulties as well as difficulties of all beings.  Please join His Holiness for a very special teaching at Lasalle University’s Tom Gola Arena.  The teaching will be streamed live throughout the Lasalle University Network and around the world.</p>
    
            <div  class="location-box">
                Cherishing Others. Eight Verses for Training the Mind.<br />
                Monday, October 26, 1pm - 3pm<br />
                Lasalle University<br />
                Tom Gola Arena<br />
                1900 West Olney Avenue<br />
                Philadelphia, PA 19141<br />
            </div>
            <br />
            <br />
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2427.798974668426!2d-75.154324177084!3d40.040584003900754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6b82aafedea8b%3A0xc3ccf691bad8f1b2!2sLa+Salle+University!5e0!3m2!1sen!2sus!4v1437798364540" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="col-md-3">
            <pre style="border-radius:0px;min-width:360px;font-family:sans-serif;font-size:13px;padding-left:0px;margin-left:0px;background-color:white;border:none;border-left:1px solid black;">
            <strong>Eight Verses for Training the Mind</strong>
            <span style="font-style:italic">by Kadampa Geshe Langri Tangpa (1054 - 1123)</span>
            
            By thinking of all sentient beings
            as even better than the wish-granting gem
            for accomplishing the highest aim,
            may I always consider them precious.
            
            Wherever I go, with whomever I go,
            may I see myself as less than all others, and
            from the depth of my heart,
            may I consider them supremely precious.
            
            May I examine my mind in all actions,
            and as soon as a negative state occurs,
            since it endangers myself and others,
            may I firmly face and avert it.
            
            When I see beings of a negative disposition
            or those oppressed by negativity or pain,
            may I, as if finding a treasure,
            consider them precious, for they
            are rarely met.
            
            Whenever others, due to their jealousy,
            revile and treat me in other unjust ways,
            may I accept this defeat myself,
            and offer the victory to others.
            
            When someone whom I have helped,
            or in whom I have placed great hope,
            harms me with great injustice,
            may I see him as a sacred friend.
            
            In short, may I offer both directly and indirectly
            all joy and benefit to all beings, my mothers,
            and may I myself secretly take on
            all of their hurt and suffering.
            
            May they not be defiled by the concepts
            of the eight mundane concerns,
            and aware that all things are illusory,
            may they, ungrasping, be free from bondage.
            </pre>
        </div>
    </div>
</div>
