
<div class="col-md-8 col-md-offset-1 secondary-page">
    <h1>2015 National Constitution Center, Liberty Medal​ Award Ceremony</h1>
    <img src="/images/inside-liberty.jpg" class="img-responsive img-dropshadow img-inside" />

    <p>
        On October 26​th, from 5 to 6pm, the National Constitution Center will award His Holiness the 14th Dalai Lama of Tibet the 2015 Liberty Medal in recognition of his advocacy for human rights worldwide. His Holiness will accept the prestigious award in a public ceremony at the National Constitution Center on Independence National Historical Park in Philadelphia.
    </p>
    <p>
        On receiving news of the award, His Holiness provided this statement, “It is a tremendous honor and privilege to receive the Liberty Medal at the National Constitution Center in the historic city of Philadelphia. I am delighted as a recipient to be in the company of so many other inspirational leaders. I have made it my life’s work to spread the message of kindness and compassion and I can think of no better place to be recognized than in the City of Brotherly Love and Sisterly Affection.”
    </p>
    <h2  style="clear:left;">Ticket Information</h2>
    <p>
        Tickets to the ceremony will be made available to the general public in September.
    </p>
    <p>
        We’ll post more information as we receive it.  You can also read lots more about the award, and about the National Constitution Center by visiting their remarkable and informative <a href="http://constitutioncenter.org/libertymedal/about.html">website</a>.
    </p>
    <h2>History of the Liberty Medal</h2>
    <p>
        ​E​stablished in 1988 to commemorate the bicentennial of the U.S. Constitution, the Liberty Medal is awarded annually to men and women of courage and conviction who strive to secure the blessings of liberty to people around the globe. The medal was first administered by the National Constitution Center in 2006, when Presidents George H.W. Bush and Bill Clinton were honored for their bipartisan humanitarian efforts on behalf of the victims of the tsunami in Southeast Asia and the hurricanes on the Gulf Coast. Other past Liberty Medal recipients include Nelson Mandela, Shimon Peres, Kofi Annan, Sandra Day O’Connor, and Bono. Six recipients of the medal have subsequently won the Nobel Peace Prize.​  You can read the names of all 26 former Liberty Medal recipients, <a href="http://constitutioncenter.org/libertymedal/about.html">here</a>.
    </p>
    <h2>Live Broadcast and Webcast</h2>
    <p>
        The event will also be broadcast
        ​ ​live​​ ​on Philadelphia's​​ ​​local ​​​ABC affiliate, WPVI-TV/6abc , and streamed live around the world.  We’ll have more information soon.
    </p>

    <p>
        <div  class="location-box">
            2015 Liberty Medal Award Ceremony<br />
            Monday, October 26, 5pm - 6pm<br />
            National Constitution Center<br />
            525 Arch Street<br />
            Philadelphia, PA 19106<br />
            <a href="http://www.constitutioncenter.org">constitutioncenter.org</a><br />
        </div>

        <br /><br />
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.454562487156!2d-75.14900305!3d39.953588599999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6c8814be07267%3A0xe648c82ca822df72!2sNational+Constitution+Center!5e0!3m2!1sen!2sus!4v1437794703512" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </p>
</div>

