<div class="secondary-page">
    <div class="col-md-8 col-md-offset-1">
        <h1>Finding Happiness in Troubled Times:<br /> Educating the Heart in the 21st Century</h1>
    </div>

    <div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <row>

                    <img src="/images/inside-temple.jpg" class="img-dropshadow img-inside img-responsive" style="margin-bottom:10px;" />
                    <div style="margin-bottom:15px;margin-left:52%;margin-right:7%;">
                        <div class="quote">
                            “My hope and wish is that one day, formal education will pay attention to what I call education of the heart. Just as we take for granted the need to acquire proficiency in the basic academic subjects, I am hopeful that a time will come when we can take it for granted that children will learn, as part of the curriculum, the indispensability of inner values love, compassion, justice, and forgiveness.”
                        </div>
                        <div class="quote-attribute">
                            - His Holiness the 14th Dalai Lama
                        </div>
                    </div>
                    <p>
                        Please join His Holiness the 14th Dalai Lama, and children from around the City of Philadelphia, for a public talk on compassion, on love, and on kindness, and on creating the conditions for happiness for ourselves and for the world we live in generations to come.  Visit again soon for more information about this remarkable morning.
                    </p>
                    <p>
                        <div class="location-box">
                            Finding Happiness in Troubled Times: <br />
                            Educating the Heart in the 21st Century<br />
                            The Liacouras Center, Temple University<br />
                            1776 N Broad St, Philadelphia, PA 19121 <br />
                            <a href="http://www.liacourascenter.com/">http://www.liacourascenter.com</a>
                        </div>
                    </p>
                    <br />
                    <br />
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3057.2782616604927!2d-75.1585114!3d39.9798865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6c7e0932681f7%3A0xf4c29a3b6ac982d1!2sThe+Liacouras+Center!5e0!3m2!1sen!2sus!4v1437799638701" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

                </row>
            </div>
        </div>
    </div>
</div>