<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <h1>Tickets for 2015 National Constitution Center, Liberty Medal​ Award Ceremony</h1>
        <p>
            At this time, tickets to the public for the Liberty Medal Ceremony are expected to be made available in September.  While a limited number of tickets to view the ceremony on the Constitution Center lawn will be made available for purchase, public seating on Independence Mall will be free.  We’ll continue to update this page as more information becomes available.  Once the date tickets will made available has been set, we’ll have it here on the website.  You can also visit the National Constitution Center’s website at www.constitutioncenter.org  Thanks very much!
        </p>
    </div>
</div>